# no .svn direcrories
.svn/
bin/

# no compiled object file
*.[oa]
*.so

# no temporary file
*~
*.out
*.aux
*.log
*.eps
*.tif
*.dvi

# ignore binary file
src/premapping/trim-adapter
src/premapping/read-quality-prof
src/premapping/visireads
src/analysis/checkoverlap
src/analysis/clipmates
src/analysis/mergelanes
src/analysis/methcounts
src/analysis/hmr
src/analysis/bsrate
src/analysis/mappedstat
src/analysis/sortreads
src/analysis/pairedend_stat
src/analysis/amr
src/analysis/merge-counts
src/analysis/roimethstat
src/postmapping/merge
src/postmapping/clipmates
src/postmapping/revcomp
src/postmapping/unique
src/postmapping/reorder
src/postmapping/sort
src/postmapping/frag2mr
src/postmapping/duplicate-remover
src/postmapping/mask-overlap
src/cytosines/cytosines
src/smithlab_cpp/libsmithlab_cpp.so
src/pipeline/run_clipmates.py
src/pipeline/build_methylome.py
src/rmapbs/rmapbs
src/analysis/hmr_plant
src/analysis/levels
src/analysis/merge-bsrate
src/analysis/merge-methcounts
src/analysis/methentropy
src/analysis/methstates
src/analysis/mlml
src/analysis/pmd
src/experimental/dmr-hdhmm
src/utils/fastLiftOver
src/utils/lc_approx
src/utils/to-mr
src/amrfinder/allelicmeth
src/amrfinder/amrfinder
src/amrfinder/amrtester
src/analysis/hypermr
src/mlml/mlml
src/utils/duplicate-remover
src/utils/merge-bsrate
src/utils/merge-methcounts
src/utils/fast-liftover
src/utils/lift-filter
src/utils/fastLiftOver2
src/utils/symmetric-cpgs
src/radmeth/make_table
src/radmeth/radmeth
src/radmeth/dmr
src/radmeth/methdiff
