# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

adjust/adjust
adjust/dmrs
utils/make_table
utils/split_table
wand/wand

wand/tests/test_design
wand/tests/test_loglikratio_test
wand/tests/test_pipeline
wand/tests/test_regression
wand/tests/test_table_row
adjust/stoufferliptak
adjust/tests/test_adjust.sublime-workspace

